<h2 class="text-center">Users controle menu</h2>
<table class="table">
  <thead>
  <tr>
    <th>User name</th>
    <th>User email</th>
    <th>Created user</th>

  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
       <td><%=link_to user.name, user_path(user) %> </td>
        <td><%=user.email %></td>
        <td><%= user.created_at.to_date.strftime("%d %B, %Y") %></td>

      </tr>
  <% end %>
  </tbody>
</table>