<% provide(:title, "Profile page") %>

<h2>Welcome to your profile page <%= @user.username %></h2>
Your email is -> <%= @user.email %>
</br>


<%if user_signed_in? %>
    <% if current_user.admin%>
        Your secret authorizathion token -<samp> <%= current_user.authentication_token %> </samp>
    <% end %>
<% end %>
