<h2>List of orders</h2>

<% @orders.each do |item| %>
Order -> <%= item.user.name %>,
 created   <%=item.updated_at.to_date.strftime("%d %B, %Y") %>
       <% item.products.each do |products| %>
            <li><%=products.title%></li>
    <%end%>

<% end %>
