 <% if @orders.any? %>
        <table class="table">
          <thead>
          <tr>
            <th>Date create order</th>
            <th>Items name -> price $</th>
            <th>Total price order</th>
          </tr>
          </thead>
          <tbody>
          <% @orders.each do |item| %>
             <tr>
               <td><%=item.updated_at.to_date.strftime("%d %B, %Y") %></td>
               <td>
                     <% item.order_items.each do |ord_itms| %>
                   <li><%=ord_itms.product.title%> -> <%= ord_itms.fixprice %>$</li>
                 <% end %>
               </td>
               <td><%= item.total_price %></td>
             </tr>
        <% end %>
          </tbody>
        </table>
<% else %>
    Your orders history is empty, or you don't submit you cart items
<% end %>



